.madimi-one-regular {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

* {
    box-sizing: border-box;
    /* outline: 1px solid black; */
}

p, figcaption{
    font-family: monospace;
    font-size: 2dvh;
}

body{
    margin: 0;
    background-color: #E8D0B8;
}

header {
    /* background-color: #EAC38B; */
    color: #413334;

    .titleText {
        display: flex;
        justify-content: space-evenly;
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color: #413334;
        font-family: "Madimi One";
        font-size: 7dvw;
        .titleRock {
            color: #A9A7A8;
        }
        .titlePaper{
            color: #E3E0E2;
        }
        .titleScissors{
            color: white;
        }
    }

    .description {
        display: flex;
        justify-content: center;
    }
}

content {
    display: flex;
    flex-direction: column;

    p {
        text-align: center;
    }
    .scoreboard{
        margin: 5dvh;
        display: flex;
        flex-direction: column;
        background-color: #413334;

        .scoreTag{
            display: flex;
            justify-content: space-between;
        }

        .score{
            background-color: #B09268;
            padding: 1dvw;
            display: flex;
            justify-content: space-between;
        }
        

        strong{
            text-align: center;
            vertical-align: middle;
            font-size: 8dvh;
            color: #A9A7A8;
        }
        p{
            margin: 1dvh;
            text-align: center;
            vertical-align: middle;
            font-size: 100px;
        }
        i{
            text-align: center;
            vertical-align: middle;
            font-size: 50px;
        }
    }

    .game {
        margin: 5dvh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;

        .player {
            img {
                max-width: 10dvh;
            }
            img:hover{
                scale: 1.2;
            }
        }

    }

    .computer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        img {
            max-width: 40dvh;
        }
    }

}